<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>549296938875-4vringi40b6jeaaf7v48urp3f3744t6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.549296938875-4vringi40b6jeaaf7v48urp3f3744t6m</string>
	<key>API_KEY</key>
	<string>AIzaSyANoaKYKd--RKiWQY-YlWhuDh3xwt0IZGw</string>
	<key>GCM_SENDER_ID</key>
	<string>549296938875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>seemu.GSign</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-53dae</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-53dae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:549296938875:ios:98ff0d7341ae4672</string>
	<key>DATABASE_URL</key>
	<string>https://loginfirebase-53dae.firebaseio.com</string>
</dict>
</plist>